<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>{{if .Params.tags }}
                <span class="date-divider">/</span> {{ range $index, $tag := .Params.tags }}{{if lt $index 2}}<a href="{{$.Site.BaseURL}}/tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;{{end}}{{end}}{{ end }}
        </section>
        <h1 class="post-full-title p-name">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
    <figure class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </figure>{{else}}
<!--    <figure class="post-full-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
    </figure> -->
    {{end}}

    <section class="post-full-content e-content">
        <div class="kg-card-markdown">
                <div class="book-left">
            {{if .Params.isbn13}}
            <a class="post-card-image-link u-url" href="https://openlibrary.org/isbn/{{ .Params.isbn13 }}">
                <img class="post-card-image" src="https://covers.openlibrary.org/b/isbn/{{ .Params.isbn13 }}.jpg"></img>
            </a>
            {{else if .Params.isbn}}
            <a class="post-card-image-link u-url" href="https://openlibrary.org/isbn/{{ .Params.isbn }}">
                <img class="post-card-image" src="https://covers.openlibrary.org/b/isbn/{{ .Params.isbn }}.jpg"></img>
            </a>
            {{end}}
                </div>
                <div class="book-right">
            {{if in .Params.tags "books"}}
        <div>By {{ .Params.bookauthor }} - {{ .Params.yearpublished }}</div>
        <div>{{ .Params.publisher }} - {{ .Params.pages }} pages</div>
        <div>Rating: {{ .Params.myrating }} - Status: {{ .Params.status }}</div>
        {{end}}
        {{ .Content }}    
                </div>
        </div>
    </section>

    <footer class="post-full-footer">
      <section class="author-card h-card vcard">
        <img class="author-profile-image u-photo" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
            <h4 class="author-card-name p-name u-url url author metatag" rel="me"><a href="{{"/" | absURL}}">{{.Params.author | default .Site.Params.author}}</a></h4>
                <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
        </section>
      </section>
    </footer>
</article>