.site-header {
    padding-top: 0px;
}

.site-header-content {
    padding: 0vw 4vw;
    justify-content: flex-start;
    min-height: 0px;
}

.site-nav {
    height: auto;
}

.site-nav-left {
    padding-bottom: 0px;
}

.nav {
    flex-wrap: wrap;
    justify-content: center;
}

.tag-template .post-feed {
    margin-top: 0px;
}

.tag-template .site-header-content {
    padding: 0 4vw;
    min-height: 100px;
}

.post-full-header {
    padding: 2vw 2vw;
}

.post-full-content img {
    display: inline-block;
    margin: 0 0;
}

.kg-card-markdown {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .book-left, .book-right {
      flex: 50%;
  }

.post-full-image {
    margin: 0 auto;
    height: 300px;
}

.post-card-image-link {
    width: 100%;
    text-align: center;
}

.post-card-image {
    background-size: contain;
    margin: 0 auto;
    background: white no-repeat 50%;
    height: 448px;
}

.post-full-content {
    padding: 10px 60px 0;
}

.post-full-content a {
    box-shadow: none;
}

.home-template .site-nav {
    position: relative;
    top: auto;
}
.home-template .post-feed {
    margin-top: 0px;
}
.social-link img {
    height: 1.8rem;
}